<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/vue-2.4.0.js"></script>
</head>
<body>

    <div id="app">
        <p v-for="name in names">name:{{name}}</p>
        -------------------
        <p v-for="(name,num) in names">name:{{name}} &nbsp; &nbsp;索引下标:{{num+1}}</p>
    </div>

<script>
    var arr=["lisi","jiang","xiang"];
    var v =new Vue({
        el:"#app",
        data:{
            names:arr
        }


    });
</script>
</body>
</html>